.about {
  font-weight: 550;
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
}

.hero.has-carousel {
  position: static !important;
}

.smallHeader {
  font-weight: 700;
  margin-top: 80px;
}
