#title {
  padding: 20px;
  font-weight: 670;
  margin: 10px;
}

.ebutton {
  margin: 22px;
}

#logo {
  margin-left: 50px;
}

.authContainer {
  padding: 50px 350px;
}

.navbarHeader {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 10px;
  text-align: left;
}
